* {
    margin: 20px auto;
}

.container {
    width: 1320px;
    height: 600px;
    position: relative;
    text-align: center;
    color: white;
    font-family: Merriweather;
}

.flex {
    border-radius: 16px;
}

.happy {
    width: 350px;
    height: 40px;
    position: absolute;
    font-size: 42px;
    font-weight: 400;
    top: 160px;
    left: 500px;
}

.party {
    line-height: 90px;
    width: 632px;
    height: 80px;
    font-weight: 900;
    font-size: 80px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.offer {
    margin-top: 120px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.deals {
    margin-top: 48px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.image img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    display: flex;
}

.second-container {
    display: flex;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    position: relative;
    text-align: center;
    color: white;
    font-family: Merriweather;
}

#time {
    width: 1320px;
    height: 600px;

}

.midnight {
    width: 642px;
    height: 176px;
    position: absolute;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    top: 126px;
    left: 126px;
    bottom: 298px;
    right: 522px;
}

.dolor {
    top: 325px;
    left: 126px;
    right: 497px;
    bottom: 214px;
    width: 697px;
    position: absolute;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.link {
    width: 133px;
    height: 34px;
    position: absolute;
    left: 158px;
    top: 434px;
    right: 1059px;
    bottom: 142px;

    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 32px;
}

a {
    text-decoration: none;
}

a :hover {

    text-decoration: underline;
    text-decoration-color: cornflowerblue;
}

#hot {
    color: white;
}

.img-two {
    position: absolute;
    width: 300px;
    height: 424px;
    left: 862px;
    top: 68px;
}

.box {
    position: relative;
    margin-top: 120px;
    width: 1320px;
    height: 782px
}

.word {
    padding-top: 100px;

}

.join {
    padding-top: 64px;
    padding-left: 570px;
}

.best-new {
    padding: 224px 1113px 0px 0px;
    width: 209px;
    height: 29px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#soon {

    padding: 0px 992px 0px 0px;
    width: 328px;
    height: 60px;
    color: #070211;
    font-family: Merriweather;
    font-size: 55px;
    font-style: normal;
    font-weight: 1100;
}

#paragraph {
    padding: 20px 927px 0px 0px;
    height: 128px;
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

#img-four {
    position: absolute;
    padding: 179.08px 443.08px 0px 522.08px;
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    border-radius: 364.844px;
}

.sky {
    position: relative;
    width: 1320px;
    height: 600px;
    display: flex;
}

.border-radius {
    left: 463px;
    right: 394px;
    top: 120px;
    bottom: 0px;
    position: absolute;
    border: 15px solid #F00;
    border-radius: 463px;
    width: 463px;
    height: 463px;
    flex-shrink: 0;
}

.twenty-four {
    position: absolute;
    font-size: 35px;
    padding-top: 244px;
    padding-left: 1050px;
    color: #F00;
    font-family: Inter;
}

.wind {
    width: 400px;
    position: absolute;
    font-family: Inter;
    padding-top: 304px;
    padding-left: 1050px;
}

.logo {
    position: absolute;
    width: 100px;
    height: 100px;
    padding-left: 1050px;
    padding-top: 355px;
}

.fifth {
    width: 1320px;
    height: px;
}

.functional {
    padding: 120px 0px 0px 560px;
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.holidays {
    padding: 0px 0px 0px 400px;
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#tom {
    color: #F00;
}

.dolor-sit {
    width: 1068px;
    height: 96px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
}

.img-fifth {
    position: absolute;
    padding: 30px 0px 0px 894px;
    width: 429px;
    height: 430px;
    border-radius: 16px 16px 0px 0px;
}

.img-sixth {
    padding: 460px 0px 0px 0px;
    position: absolute;
    width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
}

.img-seventh {
    position: absolute;
    width: 714.82px;
    height: 537.96px;
    padding-top: 90px;
}

.img-eighth {
    width: 206.841px;
    height: 206.841px;
    position: absolute;
    padding-top: 150px;
    padding-left: 790px;
}

.number-seven {
    width: 1320px;
    height: 1163px;
}

.mango {

    padding-top: 800px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.olive {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.lemon {
    position: absolute;
    height: 64px;
    width: 896px;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
    font-weight: 400;
}

.rec-one {
    margin: 0px;
    width: 424px;
    height: 450px;
    padding-top: 110px;
    padding-left: 13px;
}

.rec-two {
    width: 424px;
    height: 450px;
    padding-top: px;
    padding-left: 13px
}

.water {
    margin-top: 900px;
    border: 0.5px solid white;
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.tigar {
    padding-top: 80px;
    padding-left: 585px;
    width: 150px;
    height: 150px;
}

.lion {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.cat {
    width: 916px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.parrot {
    margin-left: 336px;
    margin-bottom: 80px;
    width: 438px;
    height: 72px;
    border: 0.5px solid white;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
}

::placeholder {
    padding-left: 30px;
    font-weight: 400;
    font-size: 18px;
}

.riders {
    border: 0.5px solid #F00;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 210px;
    height: 72px;
}

.mobile {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.world {
    width: 1600px;
    height: 609px;
    background: #070211;
}

.city {
    position: absolute;
    padding-left: 149px;
    padding-top: 120px;
    width: 385px;
    height: 80px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.pg {
    padding-left: 1114px;
    padding-top: 120px;
    position: absolute;
    width: 205px;
    height: 40px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.kd {
    padding-left: 1114px;
    padding-top: 184px;
    position: absolute;
    width: 211px;
    height: 40px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.iron {
    padding-left: 1074px;
    padding-top: 128px;
}

.gold {
    padding-left: 1074px;
}

.verb {
    padding-top: 60px;
    padding-left: 640px;
    width: 64px;
    height: 64px;
}

.gangstar {
    padding-top: 26px;
    padding-left: 140px;
    position: absolute;
    width: 305px;
    height: 29px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.monstar {
    padding-top: 26px;
    padding-left: 1315px;
    position: absolute;
    width: 145px;
    height: 29px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}