* {
    margin: 30px auto;
}

.container {
    width: 1320px;
    height: 600px;
    position: relative;
    text-align: center;
    color: white;
    background-color: rgba(7, 2, 17, 1), rgba(7, 2, 17, 0);
    font-family: Merriweather;
}

.happy {
    width: 350px;
    height: 40px;
    position: absolute;
    font-size: 42px;
    font-weight: 400;
    top: 160px;
    left: 500px;
}

.party {
    line-height: 90px;
    width: 632px;
    height: 80px;
    font-weight: 900;
    font-size: 80px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.offer {
    margin-top: 120px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.deals {
    margin-top: 48px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.image img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    display: flex;
}

.second-container {
    display: flex;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    position: relative;
    text-align: center;
    color: white;
    background-color: rgba(7, 2, 17, 1), rgba(7, 2, 17, 0);
    font-family: Merriweather;
}

.midnight {
    width: 642px;
    height: 176px;
    position: absolute;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    /* font-style: normal; */
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    top: 126px;
    left: 126px;
}

.dolor {
    top: 325px;
    left: 126px;
    width: 697px;
    position: absolute;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.link {
    width: 133px;
    height: 34px;
    position: absolute;
    left: 168px;
    top: 434px;
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 32px;
}

a {
    text-decoration: none;
}

a :hover {

    text-decoration: underline;
    text-decoration-color: cornflowerblue;
}

#hot {
    color: white;
}

.img-two {
    width: 319px;
    height: 464px;
    top: 6px;
    left: 88px;
    /* display: flex; */
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.box {
    background-color:rgb(248, 223, 240);
    
    text-align: center;
    padding-top: 100px;
    padding-left: 15px;
    border: 2px solid black;
    margin-top: 200px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    width: 1310px;
    height: 382px

}
.etc{
    color: #F00;
}
.join{
    border-color: #F00;
    border-radius: 10px;
    background-color: #F00 ;
    width: 167px;
    height: 56px;
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
