* {
    margin: 20px auto;
}

.container {
    width: 1320px;
    height: 600px;
    position: relative;
    text-align: center;
    color: white;
    background-color: rgba(7, 2, 17, 1), rgba(7, 2, 17, 0);
    font-family: Merriweather;
}

.happy {
    width: 350px;
    height: 40px;
    position: absolute;
    font-size: 42px;
    font-weight: 400;
    top: 160px;
    left: 500px;
}

.party {
    line-height: 90px;
    width: 632px;
    height: 80px;
    font-weight: 900;
    font-size: 80px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.offer {
    margin-top: 120px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.deals {
    margin-top: 48px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.image img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    display: flex;
}

.second-container {
    display: flex;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    position: relative;
    text-align: center;
    color: white;
    background-color: rgba(7, 2, 17, 1), rgba(7, 2, 17, 0);
    font-family: Merriweather;
}
#time{
    width: 1320px;
    height: 600px;
}
.flex{
    width: 1420px;
}
.midnight {
    width: 642px;
    height: 176px;
    position: absolute;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    /* font-style: normal; */
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    top: 126px;
    left: 126px;
    bottom:298px;
    right: 522px;
}

.dolor {
    top: 325px;
    left: 126px;
    right: 497px;
    bottom: 214px;
    width: 697px;
    position: absolute;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.link {
    width: 133px;
    height: 34px;
    position: absolute;
    left: 158px;
    top: 434px;
    right: 1059px;
    bottom: 142px;

    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 32px;
}

a {
    text-decoration: none;
}

a :hover {

    text-decoration: underline;
    text-decoration-color: cornflowerblue;
}

#hot {
    color: white;
}

.img-two {
    position: absolute;
    width: 300px;
    height: 424px;
    left: 862px;
    top: 68px;
}

.box {
    position: relative;
    margin-top: 120px;
    width: 1320px;
    height: 782px
}
.word{
    padding-top:  100px ;

}
.join{
    padding-top: 64px;
    padding-left: 570px;
}
.best-new{
    padding: 224px 1113px 0px 0px;
    width: 209px;
    height: 29px;
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#soon{
    
    padding: 0px 992px 0px 0px;
    width: 328px ;
    height: 60px;
    color: #070211;
font-family: Merriweather;
font-size: 55px;
font-style: normal;
font-weight: 1100;
/* line-height: normal; */
/* text-transform: capitalize; */
}
#paragraph{
    padding:  20px 927px 0px 0px;
    height: 128px;
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
#img-four{
    position: absolute;
    padding:179.08px 443.08px 0px 522.08px ;
    width: 364.844px;
height: 364.844px;
flex-shrink: 0;
border-radius: 364.844px;
}
.sky{
    position: relative;
    width: 1320px;
    height: 600px;
    display: flex;
}
.border-radius{
    left: 463px;
    right: 394px;
    top: 120px;
    bottom: 0px;
    position: absolute;
    border: 15px solid  #F00;
    border-radius: 463px;
    width: 463px;
height: 463px;
flex-shrink: 0;
}
.twenty-four{
    position: absolute;
    font-size: 35px;
    padding-top: 244px;
    padding-left: 1050px;
    color: #F00;
    font-family: Inter;
}
.wind{
    width: 400px;
    position: absolute;
    font-family: Inter;
    padding-top: 304px;
    padding-left: 1050px;
}
.logo{
    position: absolute;
    width: 100px;
    height: 100px;
    padding-left: 1050px;
    padding-top: 355px;
}
.fifth{
    width: 1320px;
    height: 600px;
}
.functional{
    padding: 120px 0px 0px 560px; 
    color: #070211;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.holidays{
    padding:0px 0px 0px 400px ;
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
#tom{
    color: #F00;
}
.dolor-sit{
width: 1068px;
height: 96px;
color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */
}